[Unit]
Description=Serveur web poulailler
After=network.target

[Service]
ExecStart=/home/pi/poulailler-console/poulailler-service.sh
Restart=always
User=pi

[Install]
WantedBy=multi-user.target