<h2 class="Bgc($pri) C($acc) M(0) P(10px) Ta(c)">Porte</h2>
<div class=" Ta(c)">
    {% if img_action == "en cours" %}
    <img src='{{ img_etat }}' alt="{{ img_etat_title }}" title="{{ img_etat_title }}" class="W(100%)">
    <script>
        setTimeout(function() {
            poulailler.refresh("porte", "{{ url_porte }}", "GET");
        }, 3000);
    </script>
    {% else %}
    <img src='{{ img_etat }}' alt="{{ img_etat_title }}" title="{{ img_etat_title }}" class="W(100%) Cur(p)" onmouseover='javascript:this.src="{{ img_action }}";this.alt="{{ img_action_title }}";this.title="{{ img_action_title }}";' onmouseout='javascript:this.src="{{ img_etat }}";this.alt="{{ img_etat_title }}";this.title="{{ img_etat_title }}";'
        onclick='javascript:poulailler.refresh("porte","{{ url_porte) }}","POST")'> {% endif %}
</div>